:root {
    --main-color: #ff7b00;
}


.btn-filter-notActive {
    background-color: #fff;
    border: 1px solid var(--main-color);
    transition: all 0.5s ease;
}

.btn-filter-notActive:hover,
.btn-filter-active {
    color: #fff;
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
}

.box-card {
    position: relative;

    border: 2px solid var(--main-color);
    border-radius: 25px;
    transition: all 0.5s ease;
}

.box-card:hover {
    box-shadow: 1px 1px 10px 5px var(--main-color);
    border: 2px solid white;
}