@import url('https://googleapis.com');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

body {
    font-family: "Caveat", cursive;
}


.nav-profileInfo,
.sideBar {
    background-color: #a1a1a144;
    /* border-bottom: 1px solid #a1a1a144; */
    box-shadow: 1px 1px 10px 5px #a1a1a144;
}