@import url('https://googleapis.com');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

:root {
    --main-color: #ff7b00;
}

body {
    font-family: "Caveat", cursive;
}


.nav-profileInfo {
    border: 1px solid var(--main-color);
}

.sideBar {
    border-right: 1px solid var(--main-color);
    transition: all 0.3s ease;
}

.sideBar:hover {
    box-shadow: 1px 1px 10px 1px var(--main-color);

}